/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  outline: transparent;
  font-family: "iransans", "iransans2", "vazir";
}
/* fonts */
@font-face {
  font-family: "iransans";
  src: url(/assets/fonts/IRANSansWeb.woff);
}
@font-face {
  font-family: "iransans2";
  src: url(/assets/fonts/IRANSansWeb.woff2);
}
@font-face {
  font-family: "vazir";
  src: url(/fonts/vazir.woff);
}
body {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 10%,
    rgba(0, 212, 255, 1) 90%
  );
}
/* lottie animation */
.lottie-animation {
  width: 400px;
}
/* input */
input {
  padding: 5px;
  font-size: 17px;
  border: none;
  border-radius: 9px;
  background-color: #d9d9d9;
}
#countNum {
  background-color: #ffb700;
  padding: 7px;
  border-radius: 7px;
  font-size: 19px;
}
/* container */
.container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-height: 90vh;
}
.form-container {
  display: flex;
  flex-direction: column;
  background: #31313166;
  padding: 12px;
  border-radius: 15px;
}
.form-container span {
  margin: 30px auto 0;
  width: fit-content;
}
/* responsive stuff */
@media only screen and (max-width: 768px) {
  .lottie-animation {
    width: 350px;
  }
}
@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
  .lottie-animation {
    margin-top: 50px;
    width: 300px;
  }
}
